a,
a:hover,
a:visited,
a:link
{
    text-decoration: none;
}

html, body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;

}

html {
    display: table;
    margin: 0 auto;
    
    
}

div.content {
    font-family: "Roboto",Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #777;
    font-size: 20px;
}

h1 {
    color: rgb(75, 75, 75);
  }

  h4 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    color: #777;
}


@media only screen and (max-width:900px) {

    html, body{
        width:100%;
        overflow-x:hidden;
        }
}
